body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  background-image: repeat;
  
  }
  header {
  background-color: #5208e4;
  color: rgb(226, 223, 234);
  padding: 1em 0;
  }
  h1{font-size: larger;
   font-style: normal;
   color:rgb(230, 19, 19);
  }
 ul lia{font-size: 20px;
font-weight: bold;
text-decoration: underline;
color: #0bdfaa;
margin-top: -1;
transition: 5s ease-in;}

ul li a:hover{color: rgb(211, 205, 206);}

  p{color: aliceblue;}
  nav ul {
  h3{font-size: larger;
  font-family:'Times New Roman';
font-weight: 200;}
h4{font-size: larger;
 font-family: 'Times New Roman';
 font-weight: 300;}
 h5{font-size: larger;
  font-family: 'Times New Roman';
  font-weight: 300;}
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  }
  nav ul li {
  margin: 0 1em;
  }
  nav ul li a {
  color: white;
  text-decoration: none;
  }
  main {
  padding: 2em;
  }
  footer {
  background-color: #df1e1e;
  color: white;
  text-align: center;
  padding: 1em 0;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  }
  footer ul {
  list-style: none;
  padding: 0;
  }
  footer ul li {
  display: inline;
  margin: 0 0.5em;
  }
  footer ul li a {
  color: white;
  text-decoration: none;
  }
  /* Responsive Design */
  @media (max-width: 768px) {
  nav ul {
  flex-direction: column;
  align-items: center;
  }
  nav ul li {
  margin: 0.5em 0;
  }
  }